In [ ]:
########################### Day 1 ############################################

In [19]:
print("Subhankar")

Subhankar

In [9]:
name=input()
print("Welcome "+name)

Subhankar
Welcome Subhankar

In [11]:
number1=int(input("Enter First Number"))
number2=int(input("Enter Second Number"))
print("Sum=",number1+number2)
print("Difference",number1-number2)
print("Product",number1*number2)
print("Quotient",number1/number2)

Enter First Number8
Enter Second Number2
Sum= 10
Difference 6
Product 16
Quotient 4.0

In [13]:
a=int(input("Enter First Number"))
b=int(input("Enter Second Number"))
if(a>b):
    print(a)
else:
    print(b)

Enter First Number8
Enter Second Number4
8

In [17]:
a=int(input("Enter First Number"))
b=int(input("Enter Second Number"))
c=int(input("Enter Second Number"))
if(a>b and a>c):
    print(a," is greatest")
elif(b>c and b>a):
    print(b," is greatest")
else:
     print(c," is greatest")

Enter First Number3
Enter Second Number2
Enter Second Number1
3  is greatest

In [31]:
type=input("Enter your Consumption Type")
unit=int(input("Enter your Consumption Unit"))

if(type=="Agricuture"):
    if(unit>200):
        total=unit*3
    elif(unit>100 and unit<=200):
         total=unit*2
    else:
         total=unit
elif(type=="Industry"):
    if(unit>200):
        total=unit*5
    elif(unit>100 and unit<=200):
         total=unit*4
    else:
         total=unit*3
else:
    if(unit>200):
        total=unit*4
    elif(unit>100 and unit<=200):
         total=unit*3
    else:
         total=unit*2
print("Your bill",total)

Enter your Consumption TypeIndustry
Enter your Consumption Unit10
Your bill 30

In [33]:
for i in range(1,101):
    if(i%3==0 and i%5==0):
        print(i)

15
30
45
60
75
90

In [57]:
a,b=1,1

ans=0
n=int(input("Enter the value of n"))
print(1," ",end="")
print(1," ",end="")
for i in range(1,n-1):
    ans=a+b
    print(ans," ",end="")
    a=b
    b=ans

Enter the value of n10
1  1  2  3  5  8  13  21  34  55

In [49]:
odd,even=0,0
while(True):
    n=int(input("Enter your number"))
    if(n<0):
        break
    if(n%2==1):
        odd+=n
    else:
        even+=n
print("odd sum",odd)
print("Even Sum",even)

Enter your number3
Enter your number5
Enter your number4
Enter your number-1
odd sum 8
Even Sum 4

In [55]:
n=int(input("Enter the value of n"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print('\n')

Enter the value of n7
*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

In [64]:
n=int(input("Enter the value of n"))
flag=True
for i in range(2,n):
    if(n%i==0):
        flag=False
if(flag==False):
    print("Not a Prime")
else:
     print("It is a Prime")

Enter the value of n1
It is a Prime

In [85]:
n=int(input("Enter the value of n"))
copy=n
sum=0
while(n>0):
    x=n%10
    sum=x+(10*sum)
    n=n//10
if(sum==copy):
    print("It is a palindrome number")
else:  
     print("It is not a palindrome number")

Enter the value of n323
It is a palindrome number

In [92]:
n=int(input("Enter the value of n"))
copy=n
sum=0
while(n>0):
    x=n%10
    sum=sum+(x*x*x)
    n=n//10
if(sum==copy):
    print("Armstrong Number")
else:
    print("Not an Armstrong")

Enter the value of n153
Armstrong Number

In [96]:
n=int(input("Enter the value of n"))
copy=n
prod=1
for i in range(1,n+1):
    prod*=i
print("Factorial of %d is"% n ,prod)

Enter the value of n5
Factorial of 5 is 120

In [99]:
def factorial(n):
    prod=1
    for i in range(1,n+1):
        prod*=i
    return prod

n=int(input("Enter the value of n"))
r=int(input("Enter the value of r"))
ncr=factorial(n)/(factorial(r)*factorial(n-r))

print("The value of ncr is",ncr)

Enter the value of n20
Enter the value of r3
The value of ncr is 1140.0

In [ ]:
######################Day 2################################################################

In [103]:
list=[1,2,3,4,5,6,7,8,9]
print(list[:-1])
print(list[-1])

[1, 2, 3, 4, 5, 6, 7, 8]
9

In [23]:
def add(*x):
    sum=0
    for i in x:
        sum+=i
    return sum
add(1,2,3)

6

In [31]:
def add(a,b,c):
    sum=0
    return a+b+c
li=[1,2,3]
add(*li)

6

In [106]:
squares=[n**n for n in range(1,10) if n%2==0]

In [107]:
squares

[4, 256, 46656, 16777216]

In [5]:
x=lambda a,b:a*b
print(x(6,3))
(lambda a,b:a*b)(2,3)

18

6

In [14]:
add= lambda *x:sum(x)

In [15]:
add(2,3,4)

9

In [34]:
higher_order=lambda x,fun : x+fun(x)
higher_order(3,lambda x:x*x)

12

In [110]:
file=open("Desktop/user09.txt","r")
# for x in file:
#     print(x)
# print(file.read())
print(file)
file.read()
# file.readlines()
# print(file.readlines())

<_io.TextIOWrapper name='Desktop/user09.txt' mode='r' encoding='cp1252'>

'Subhankar\nLocation:Desktop/user09.txt'

In [99]:
file=open("Desktop/testing.txt","w")
file.write("This is Another2")
file.write("Testing file handling")
file.close()

In [80]:
file=open("Desktop/testing.txt","a")
file.write("This is Another3")
file.close()

In [96]:
import csv
header=["slno","name","age"]
data=[[1,"John",24], [2,"Peter",43],[3,"Stewie",4],[4,"Lois",32]]
filename="Desktop/Testing.csv"
with open(filename,'w') as file:
    csvwriter=csv.writer(file)
    csvwriter.writerow(header)
    csvwriter.writerows(data)
with open(filename,'r') as file:
    content=file.read()
print(content)

slno,name,age

1,John,24

2,Peter,43

3,Stewie,4

4,Lois,32

In [40]:
class Student:
    name=None
    __roll=None
    classs=None
    
    def __init__(self,name,roll,classs):
        self.name=name
        self.__roll=roll
        self.classs=classs
        
    def showDetails(self):
        print("Name",self.name)
        print("Class",self.classs)
        print("Roll",self.__roll)
        
    
student1=Student("Subhabkar",21,"XII")
student1.showDetails()

Name Subhabkar
Class XII
Roll 21

In [95]:
class A:
    a=0
    def __init__(self):
        print(" A Called")
        self.a=1
    def showDetailsA(self):
        print(self.a)
        
class B():
    b=0
    def __init__(self):
        print("B called")
        self.b=2
    def showDetailsB(self):
        print(self.a)       

class C(A,B):
    c=0
    def __init__(self):
        A.__init__(self)
        B.__init__(self)
        self.c=3
    def showDetailsC(self):
        print(self.a,self.b,self.c)

c=C()
c.showDetailsC()

 A Called
B called
1 2 3

In [89]:
class A:
    a=0
    def __init__(self):
        print(" A Called")
        self.a=1
    def showDetailsA(self):
        print(self.a)

class B(A):
    b=0
    def __init__(self):
        print("B called")
        A.__init__(self)
        self.b=2
    def showDetailsB(self):
        print(self.a)
        
b=B()
b.showDetailsB()

B called
 A Called
1

In [96]:
################# Exception #######################

In [97]:
try:
    a=10/0
    print("a")
except:
    print("Exception Occurred")

Exception Occurred

In [100]:
try:
    a=10/0
    print("a")
except TypeError:
    print("TypeError Occurred")
except ZeroDivisionError:
    print("ZeroDivisionError Occurred")

ZeroDivisionError Occurred

In [121]:
a=int(input())
b=int(input())
try:
    if(b==0):
        raise ZeroDivisionError
    else:
        pass
        ans=a/b
        print(ans)
except ZeroDivisionError:
    print("Enter Non-Zero Denominator")
finally:
    print("Program ended")

2
0
Enter Non-Zero Denominator
Program ended

In [126]:
class CustomException(Exception):
    pass
    
age=int(input())
try:
    if age>80:
        raise CustomException
    else:
        print("You are allowed to Enter")
except CustomException:
    print("You are way too old")

60
You are allowed to Enter

In [2]:
#########Regex###########

In [8]:
import re

txt = "The rain in Spain"
x = re.findall("ai", txt) 
print(x)

['ai', 'ai']

In [9]:
import re

s = 'python portal: A computer science portal for students'

match = re.search('portal', s)
print('Start Index:', match.start())
print('End Index:', match.end())

<re.Match object; span=(7, 13), match='portal'>
Start Index: 7
End Index: 13

In [36]:
import re
password='sUbhankar@98'
regex='(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#$])'
match=re.match(regex,password)
if match:
    print("Match")
else:
    print('No Match')

Match

In [37]:
############ Excel ############

In [41]:
#Working with python excel using openpyxl
import openpyxl
path = "Desktop/data.xlsx"
wb_obj = openpyxl.load_workbook(path)
sheet_obj = wb_obj.active

maxrows = sheet_obj.max_row
maxcolumns = sheet_obj.max_column
print("The data rows ", maxrows)
print("The data columns",maxcolumns)

print("The first column data")
for i in range(2,maxrows):
    cell_obj = sheet_obj.cell(row = i, column = 1)
    print(cell_obj.value)
print("The first row data")
for i in range(1, maxcolumns + 1):
    cell_obj = sheet_obj.cell(row = 2, column = i)
    print(cell_obj.value, end = " ")

The data rows  6
The data columns 1
The first column data
Sam
Ram
Devin
Kevin
The first row data
Sam

In [42]:
sheet_title = sheet_obj.title
print("The workboo title:"+sheet_title)

for i in range(1,maxrows+1):
    for j in range(1,maxcolumns+1):
        cell_obj = sheet_obj.cell(row = i, column = j)
        print(cell_obj.value, end=" ")
    print()

The workboo title:Sheet1
Name
Sam
Ram
Devin
Kevin
Louis

In [52]:
import openpyxl
wb = openpyxl.Workbook()
sheet = wb.active
cell_obj = sheet.cell(row = 1, column = 1)
cell_obj.value="sai"
wb.save("Desktop/demowrite.xlsx")
print("Data Written")

Data Written

In [54]:
import openpyxl
wb = openpyxl.Workbook()
sheet = wb.active
c1 = sheet.cell(row = 1, column = 1)
c1.value = "ANKIT"
c2 = sheet.cell(row= 1 , column = 2)
c2.value = "RAI"
c3 = sheet['A2']
c3.value = "RAHUL"
c4 = sheet['B2']
c4.value = "RAI"
wb.save("Desktop/demowrite2.xlsx")
print("Data written")

Data written

In [56]:

#wb = openpyxl.Workbook()
wb.create_sheet(index = 1 , title = "demo sheet2")
wb.save("Desktop/demowrite.xlsx")
print("New sheet is added...")

New sheet is added...

In [58]:
#writing data to excel using xlsxwriter
import xlsxwriter
workbook = xlsxwriter.Workbook('Desktop/Example2.xlsx')
worksheet = workbook.add_worksheet()
row = 0
column = 0
content = ["ankit", "rahul", "priya", "harshita",
					"sumit", "neeraj", "shivam"]
for item in content :
    worksheet.write(row, column, item)
    column+= 1
workbook.close()
print("Data written to excel sheet")

Data written to excel sheet

In [69]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('testdb.db') 
c = conn.cursor()
c.execute('''
          CREATE TABLE IF NOT EXISTS items
          ([product_id] INTEGER PRIMARY KEY, [product_name] TEXT)
          ''')
c.execute('''
          INSERT INTO items (product_id, product_name)

                VALUES
                (1,'Computer'),
                (2,'Printer'),
                (3,'Tablet'),
                (4,'Desk'),
                (5,'Chair')
          ''')
c.execute('''
          SELECT
          * from
          items
          ''')
df = pd.DataFrame(c.fetchall(), columns=['product_name','price'])
print (df)

   product_name     price
0             1  Computer
1             2   Printer
2             3    Tablet
3             4      Desk
4             5     Chair

In [90]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('testdb6.db') 
c = conn.cursor()
c.execute('''
          CREATE TABLE IF NOT EXISTS items
          ([product_id] INTEGER PRIMARY KEY, [product_name] TEXT,[price] INTEGER)
          ''')
c.execute('''
          INSERT INTO items (product_id, product_name, price)

                VALUES
                (1,'Computer',50000),
                (2,'Printer',5000),
                (3,'Tablet',10000),
                (4,'Desk',8000),
                (5,'Chair',5000)
          ''')
c.execute('''
          UPDATE items set price=100000 where price=50000
          ''')
c.execute('''
          SELECT
          * from
          items
          ''')
df = pd.DataFrame(c.fetchall(),columns=["productID",'product_name','price'])
print (df)

   productID product_name   price
0          1     Computer  100000
1          2      Printer    5000
2          3       Tablet   10000
3          4         Desk    8000
4          5        Chair    5000

In [92]:
c.execute('''
          DELETE from items  where price=5000
          ''')
c.execute('''
          SELECT
          * from
          items
          ''')
df = pd.DataFrame(c.fetchall(),columns=["productID",'product_name','price'])
print (df)

   productID product_name   price
0          1     Computer  100000
1          3       Tablet   10000
2          4         Desk    8000

In [96]:
import requests
api_url = "https://jsonplaceholder.typicode.com/todos/1"
res = requests.get(api_url)
print(res.json())

{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}

In [101]:
api_url2 = "https://jsonplaceholder.typicode.com/todos"
todo = {"userId": 111, "title": "Buy milk", "completed": False}
response = requests.post(api_url2, json=todo)
print(response.json())

{'userId': 111, 'title': 'Buy milk', 'completed': False, 'id': 201}

In [107]:
import requests
api_url = "https://jsonplaceholder.typicode.com/todos/10"
response = requests.get(api_url)
response.json()

{'userId': 1,
 'id': 10,
 'title': 'illo est ratione doloremque quia maiores aut',
 'completed': True}

In [110]:
api_url = "https://jsonplaceholder.typicode.com/todos/10"
todo = {"userId": 1, "title": "Wash car", "completed": True}
response = requests.put(api_url,json=todo)
response.json()

{'userId': 1, 'title': 'Wash car', 'completed': True, 'id': 10}

In [111]:
api_url = "https://jsonplaceholder.typicode.com/todos/10"
response = requests.delete(api_url)
response.json()

{}

NameError: name 'urllib3' is not defined