In [2]:
try:
    # code for file opening
    a=10/0
    print(a)
except TypeError:
    print("inside the except block")
    # code for file closing
else:
    print("Inside the else block")
    # code for file closing

inside the except block

In [3]:
#finally
"""
To execute any block of code which has to be mandatorily executed irrespecitive
of exception occured or not

file opening

    

file closing
            
"""

'\nTo execute any block of code which has to be mandatorily executed irrespecitive\nof exception occured or not\n\nfile opening\n\n    \n\nfile closing\n            \n'

In [18]:
try:
    # code for file opening
    a=10/1
    b=[10,20]
    print(a)
    print(b[3])
except TypeError:
    print("inside the except block")
    # code for file closing
except ZeroDivisionError:
    print("Inside the zero division exception block")
except:
    print("inside the general exception block")
finally:
    print("Inside the finally block")

10.0
inside the general exception block
Inside the finally block

In [21]:
try:
    a =200
    b = 10000
    if a < b:
        raise ZeroDivisionError
    else:
        raise TypeError
except ZeroDivisionError:
    print("Insid the zero division error block")
except TypeError:
    print("Inside the type error block")

Insid the zero division error block

In [29]:
class InvalidAgeException(Exception):
    pass

In [31]:
try:
    age = int(input("enter age"))
    if age < 0 or age > 100:
        raise InvalidAgeException
    elif age >= 0 and age <=17:
        print("Insufficient age to vote")
    else:
        print("Eligible to vote")
except InvalidAgeException:
    print("Age cannot be either negative or more than 100")

enter age-9
Age cannot be either negative or more than 100

In [1]:
import re

txt = "The rain in Spain"
x = re.findall("ai", txt) 
print(x)

['ai', 'ai']

In [2]:
y = re.findall("portugal",txt)

In [3]:
y

[]

In [4]:
s = 'python portal: A computer science portal for students'

match = re.search(r'portal', s)

print('Start Index:', match.start())
print('End Index:', match.end())

Start Index: 7
End Index: 13

In [14]:
pattern ='^[A-Z][a-z][0-9]{2}A_'
match = re.search(pattern, "Acc12Aaaa")
if match:
    print("valid string")
else:
    print("invalid string")

invalid string

In [16]:
txt = "The   rain in Spain"
x = re.split("\s", txt)
print(x)

['The', '', '', 'rain', 'in', 'Spain']

In [17]:
txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

In [23]:
txt = "The rain in Spain"
x = re.sub("Th", "main", txt)
print(x)

maine rain in Spain

In [49]:
#Working with python excel using openpyxl
import openpyxl
path = "d:\\Accenture\\data.xlsx"
wb_obj = openpyxl.load_workbook(path)
sheet_obj = wb_obj.active

maxrows = sheet_obj.max_row
maxcolumns = sheet_obj.max_column
print("The data rows ", maxrows)
print("The data columns",maxcolumns)

print("The first column data")
for i in range(2,maxrows):
    cell_obj = sheet_obj.cell(row = i, column = 1)
    print(cell_obj.value)
print("The first row data")
for i in range(1, maxcolumns + 1):
    cell_obj = sheet_obj.cell(row = 2, column = i)
    print(cell_obj.value, end = " ")

The data rows  7
The data columns 4
The first column data
praveen
sai
kumar
balaji
suresh
The first row data
praveen 80 78 79

In [50]:
sheet_title = sheet_obj.title
print("The workboo title:"+sheet_title)

for i in range(1,maxrows+1):
    for j in range(1,maxcolumns+1):
        cell_obj = sheet_obj.cell(row = i, column = j)
        print(cell_obj.value, end=" ")
    print()

The workboo title:My Data
Name m1  m2 m3
praveen 80 78 79
sai 65 87 56
kumar 55 48 65
balaji 78 65 71
suresh 49 64 58
kiran 39 32 20

In [55]:
wb = openpyxl.Workbook()
sheet = wb.active
cell_obj = sheet_obj.cell(row = 5, column = 5)
cell_obj.value="sai"
wb.save("d://Accenture/Feb13-17/demowrite.xlsx")
print("Data Written")

Data Written

In [56]:
import openpyxl
wb = openpyxl.Workbook()
sheet = wb.active
c1 = sheet.cell(row = 1, column = 1)
c1.value = "ANKIT"
c2 = sheet.cell(row= 1 , column = 2)
c2.value = "RAI"
c3 = sheet['A2']
c3.value = "RAHUL"
c4 = sheet['B2']
c4.value = "RAI"
wb.save("d://data/demowrite.xlsx")
print("Data written")

Data written

In [57]:
#wb = openpyxl.Workbook()
wb.create_sheet(index = 1 , title = "demo sheet2")
wb.save("d://data/demowrite.xlsx")
print("New sheet is added...")

New sheet is added...

In [59]:
#writing data to excel using xlsxwriter
import xlsxwriter
workbook = xlsxwriter.Workbook('d://data/Example2.xlsx')
worksheet = workbook.add_worksheet()
row = 0
column = 0
content = ["ankit", "rahul", "priya", "harshita",
					"sumit", "neeraj", "shivam"]
for item in content :
    worksheet.write(row, column, item)
    column+= 1
workbook.close()
print("Data written to excel sheet")

Data written to excel sheet